{% load static %}
{% for post in posts %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card my-1 shadow">
            <div class="card-body pb-1">
                <h5 class="card-title mb-0"><a href="{% url 'profile' post.author %}">{{ post.author }}</a></h5>
                <p class="card-text"><small class="text-muted">{{ post.timestamp }}</small></p>
                <p class="card-text" id="post-content">{{ post.content }}</p>                

                <form id="edit-form" class="form-inline d-none">
                        {% csrf_token %}
                        <input type="hidden" name="postId" value="{{ post.id }}">
                        <textarea name="editedContent" id="editedContent" cols="30" rows="2" class="form-control mr-2">{{ post.content }}</textarea>
                        <input type="submit" value="Save" class="btn btn-primary form-control">
                </form>
                <div class="mb-2">
                    <i id="likeBtn" data-feather="thumbs-up" data-color="blue" data-id="{{ post.id }}"
                    {% if post in liked_posts %}style="color: blue;"{% endif %}
                    >
                    </i><span class="ml-1" id="likeCount">{{ post.likers.count }}</span>
                </div>
                {% if user.is_authenticated and user == post.author %}
                <button type="button" class="btn btn-outline-info card-link" id="edit-btn">Edit</button>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endfor %}

{% block script %}
<script src="https://unpkg.com/feather-icons"></script>
{% endblock script %}

<script>feather.replace()</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="{% static 'network/posts.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static 'network/like.js' %}"></script>
{% endif %}



