{% extends "network/layout.html" %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block body %}

{% include "network/partials/messages.html" %}

<div class="container mb-2">

    <h1 class="display-3 text-center">{{ title }}</h1>

    <div class="row justify-content-center">
        <button class="btn-lg btn-info mb-1" id="new-post-btn">NEW POST</button>
    </div>

    <div class="row justify-content-center" id="new-post" style="display: none">
        <div class="col-md-8 offset-md-2">
            <div class="card bg-light border-secondary mt-2">
                <div class="card-body">
                    <div class="card-title">
                        <h5>New Post</h5>
                    </div>
                    <div class="card-text">
                        <form action="{% url 'new' %}" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Add Post" class="btn btn-primary btn-sm mt-1">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "network/partials/posts.html" %}
    {% include "network/partials/paginator.html" %}

</div>

{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock script %}

{% endblock %}
