{% extends "network/layout.html" %}

{% block title %}All Posts{% endblock title %}

{% block body %}

{% include "network/partials/messages.html" %}

<div class="container">

    <h1 class="display-3">All Posts</h1>

    <div class="row">
        <div class="col">
            <div class="card bg-light border-secondary mt-2">
                <div class="card-body">
                    <div class="card-title">
                        <h5>New Post</h5>
                    </div>
                    <div class="card-text">
                        <form action="{% url 'new' %}" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Add Post" class="btn btn-primary btn-sm mt-1">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for post in posts %}

    <div class="row">
        <div class="col">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'profile' post.author %}">{{ post.author }}</a></h5>
                    <p class="card-text mt-1">{{ post.content }}</p>
                    <p><span class="mr-2">&#10084;</span>0</p>
                </div>
                <div class="card-footer text-muted">
                    {{ post.timestamp }}
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}


{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}